* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;

}


body {
    --sb-track-color: #121212;
    --sb-thumb-color: #898989;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}

header {
    width: 100%;
    height: 100vh;
}

nav {
    position: fixed;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
}

img {
    background: none;

}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-caixa-botao {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-right: 8px;

}

.navbar-botao {
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
}

.navbar-botao img {
    width: 100%;
    height: 100%;
}

.navbar-logo img {
    width: 119px;
}

.navbar-barra-pesquisa {
    height: 40px;
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-search {
    background-color: #121212;
    width: 536px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border: 1px solid #303030;
    border-right: none;
    border-radius: 40px 0 0 40px;
}

.navbar-barra-pesquisa .navbar-search input[type=text] {
    width: 484px;
    height: 24px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

.navbar-barra-pesquisa .navbar-search input[type=text]::placeholder {
    font-weight: bold;
    font-size: 17px;
}


.navbar-barra-pesquisa .navbar-search .navbar-botao-teclado {
    width: 31px;
    height: 24px;
    background: none;
    border: 0;
    padding: 4px;
    margin-right: 5px;
    cursor: pointer;
}

.navbar-barra-pesquisa .navbar-search .navbar-botao-teclado img {
    width: 100%;
    height: 100%;
}

.navbar-barra-pesquisa .navbar-pesquiar {
    width: 64px;
    height: 100%;
    background: #303030;
    border: 0;
    padding: 4px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
}

.navbar-barra-pesquisa .navbar-pesquiar img {
    width: 24px;
    height: 24px;
}

.navbar-barra-pesquisa .navbar-microfone img {
    width: 14px;
    height: 14px;
}

.navbar-barra-pesquisa .navbar-microfone {
    width: 50px;
    height: 40px;
    border: 0;
    background: #303030;
    border-radius: 50% 50%;
    margin-left: 12px;
    cursor: pointer;
}






.navbar-login {
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;

}

.navbar-login .navbar-trespontos {
    width: 40px;
    height: 60%;
    border: 0;
    background: none;
    margin-right: 10px;
    cursor: pointer;
}

.navbar-login .navbar-trespontos img {
    height: 100%;
}

.navbar-login .navbar-login {
    width: 120px;
    height: 100%;
    border: 0;
    background: none;
    margin-right: 20px;
    border: 1px solid #303030;
    border-radius: 40px;
    cursor: pointer;
}

.navbar-login .navbar-login img {
    margin: 0 auto;
    width: 85%;
    height: 65%;
}

.corpo {
    width: 100%;
    height: 100%;
    display: flex;
}

.corpo-esquerda-fixo {
    margin-top: 54px;
    position: fixed;
    width: 285px;
    height: 680px;
    overflow: hidden;
    overflow-y: scroll;
    color: white;
    padding: 15px;
}

.corpo-esquerda-fixo-botoes span,
strong {
    background: none;
}

/* Firefox */
/* Chrome, Edge and Safari */
.corpo-esquerda-fixo::-webkit-scrollbar {
    height: 10px;
    width: 8px;
}

.corpo-esquerda-fixo::-webkit-scrollbar-track {
    border-radius: 5px;
    background: none;
}

.corpo-esquerda-fixo::-webkit-scrollbar-track:hover {
    background-color: none;
}

.corpo-esquerda-fixo::-webkit-scrollbar-track:active {
    background: none;
}

.corpo-esquerda-fixo::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: none;
}

.corpo-esquerda-fixo:hover::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
}




.corpo-direita {
    margin-top: 54px;
    margin-left: 285px;
    width: 100%;
    height: auto;
}

.corpo-direita-top {
    width: 1200px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;

}

.corpo-direita-top button {
    color: white;
    background: #303030;
    border: 0;
    border-radius: 7px;
    padding: 7px 10px;
    cursor: pointer;
    margin-right: 15px;
}

.corpo-direita-top button strong {
    background: none;
}

.corpo-direita-top button:hover {
    background: #4e4e4e;

}

.corpo-direita-top .selecionado-botao {
    background: #ffffff;
    color: black;
}

.corpo-esquerda-fixo-botoes {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px 9px;
    cursor: pointer;
    margin-top: 2px;
}

.corpo-esquerda-fixo-botoes:hover {
    background: #434343;
}

.selecionado {
    background: #303030;
}



.corpo-esquerda-fixo-botoes i {
    margin-left: 5px;
    margin-right: 18px;
}

.divisoria {
    width: 100%;
    height: 2px;
    background-color: #434343;
    margin-top: 10px;
}

.corpo-esquerda-fixo-botoes-login {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0;
    background: none;

}

footer {
    padding: 14px;
    color: #bebebe;
    font-size: 0.9vw;
}

.corpo-direita .corpo-direita-baixo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.corpo-direita .corpo-direita-baixo .corpo-direita-baixo-videos {
    width: 380px;
    height: 370px;
    margin: 20px 10px;
}

.corpo-direita .corpo-direita-baixo .corpo-direita-baixo-videos iframe {
    width: 360px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
}

.descricao {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.descricao img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 9px;
}

.corpo-direita .corpo-direita-baixo .corpo-direita-baixo-videos .descricao-02 {
    color: #afafaf;
    margin-left: 50px;
}